@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center hero_img">
    <h1 class="display-1 hero_block">Створити замовлення</h1>
</div>

<div class="addingCuttingOrder">
    <div class="input-group mb-3">
        <span class="input-group-text">Name of order</span>
        <input type="text" aria-label="Enter the name of order" class="form-control">
        <input type="number" aria-label="Enter the quantity or details" class="form-control">
        <span class="input-group-text">Quantity of details</span>
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text" for="inputGroupSelectDetail">Оберіть частину</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Detail One</option>
            <option value="2">Detail Two</option>
            <option value="3">Detail Three</option>
            <option value="4">Detail Four</option>
            <option value="5">Detail Five</option>
            <option value="6">Detail Six</option>
        </select>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg">Submit the order</button>
    </div>
    
</div>
 