@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center hero_img">
    <h1 class="display-1 hero_block">Видалити замовлення</h1>
</div>

<div class="addingCuttingOrder">
    <div class="input-group mb-2">
        <label class="input-group-text" for="inputGroupSelectDetail">Choose the order to delete</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Order #1</option>
            <option value="2">Order #2</option>
        </select>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg">Delete the order</button>
    </div>

</div>