@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center hero_img">
        <h1 class="display-1">Вітання</h1>
    </div>
        <div class="text-center hero_img">
        <h1 class="display-4">Останнє замовлення</h1>
    </div>
        </div>
        <div class="text-center">
    <h3 class="hero_addon">"Insert Order here"</h3>
    </div>
    <div class="card-body">
        <h2 class="display-5">Данні про цех</h2>
        <div class="card-text">
            <div>Статус</div>
            <div>Оперує</div>
        </div>
        <div class="card-text">
            <div>Зроблено за день</div>
            <div>200 штук продукції</div>
        </div>  
        <div class="card-text">
            <div></div>
            <div>200 штук продукції</div>
        </div>  
    </div>