@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center hero_img">
        <h1 class="display-1">Welcome</h1>
    </div>
        <div class="text-center hero_img">
        <h1 class="display-4">Last Order</h1>
    </div>
        </div>
        <div class="text-center">
    <h3 class="hero_addon">"Insert Order here"</h3>
    </div>