@{
    ViewData["Title"] = "Orders";
}<div class="hero_block">
    <div class="text-center hero_img">
        <h1 class="display-1">Замовлення</h1>
    </div>
</div>
<div class="card-header bg-white">
    Замовлення
</div>

<div class="card-body">

</div>