@{
    ViewData["Title"] = "Storage";
}<div class="hero_block">
    <div class="text-center hero_img">
        <h1 class="display-1">Склад</h1>
    </div>
</div>
<div>
    <table class="table table-hover table-bordered table-secondary" style="margin: 0; padding: 0;">
        <tbody>
            <tr>
                <th>Ід</th>
                <th>Матеріал / Вирізка</th>
                <th>Кількість</th>
                <th>Короткий опис</th>
                <th>Тип</th>
            </tr>
            <tr>
                <th>fsdaf2131</th>
                <th>Вирізка рукав ч.</th>
                <th>4</th>
                <th>Короткий опис</th>
                <th>Вирізка рукав</th>
            </tr>
        </tbody>
    </table>
</div>
