@{
    ViewData["Title"] = "Home Page";
}
<div class="hero_block">
    <div class="text-center hero_img">
        <h1 class="display-1">Вітання</h1>
    </div>
    <div class="text-center hero_img">
        <h1 class="display-4">Останнє замовлення:</h1>
    </div>
    <div class="text-center">
        <h3 class="hero_addon">"Insert Order here"</h3>
    </div>
</div>
