@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Warehouse";
}<div class="hero_block">
    <div class="text-center hero_img">
        <h1 class="display-1">Склад</h1>
    </div>
</div>

<div class="row">
    <div class="card col-lg-6">
        <div class="card-img"><img src="C:\Users\user\Downloads/Test.jpg"></div>
        <div class="card-header">Футболка</div>
        <div class="card-body">
            <div class="card-text row py-1">
                <div class="col-md-3">Опис:</div>
                <div class="col-md-9">200 штук продукції</div>
            </div>
            <div class="card-text row py-1">
                <div class="col-md-3">Кількість:</div>
                <div class="col-md-9">М.Хмельницький в.Зарічанська 17\а</div>
            </div>
            <div class="card-text row py-1">
                <div class="col-md-3">Ціна шт:</div>
                <div class="col-md-9">15 чоловік</div>
            </div>
        </div>
    </div>
    <div class="card col-lg-6">
        <div class="card-img"><img src="C:\Users\user\Downloads/Test.jpg"></div>
        <div class="card-header">Футболка</div>
        <div class="card-body">
            <div class="card-text row py-1">
                <div class="col-md-3">Опис:</div>
                <div class="col-md-9">200 штук продукції</div>
            </div>
            <div class="card-text row py-1">
                <div class="col-md-3">Кількість:</div>
                <div class="col-md-9">М.Хмельницький в.Зарічанська 17\а</div>
            </div>
            <div class="card-text row py-1">
                <div class="col-md-3">Ціна шт:</div>
                <div class="col-md-9">15 чоловік</div>
            </div>
        </div>
    </div>
</div>

